
body {
    background-color: white;
    color: #111;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16pt;
    text-align: center;
}
.container {
  width: 790px;
  margin: 0 auto;
}
.content {
    width: 790px;
    background-color: white;
    display: inline-block;
    text-align: left;
    padding-bottom: 40;
}
code, pre{
    font-family: 'IBM Plex Mono', monospace;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}
h1{
    text-decoration: none;
}
a,h2,h3,h4,h5,h6{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
a, blockquote, h1,h2,h3,h4,h5,h6{
    color: #333;
}
blockquote{
    text-align: center;
    font-size: 20pt;
}
ul{
    text-align: left;
    margin-left: 2em;
}