        <nav>
            <div class="container">
                {% for category in site.categories %}
                {% assign names = names |append: category.first | append: ", " %}
                {% endfor %}
                <!-- {{names}} -->
                {% comment %}
                Remove this when we have more posts/categories
                {% assign names = names | append: "misc." %}
                {% endcomment %}
                {% assign names = names | split: ", " | sort %}
                <ul>
                    {% for category_name in names %}
                    {% if site.categories[category_name].size > 0 %}
                    <li><a class="page-link" href="/{{ category_name | slugize }}">{{ category_name | capitalize}}</a></li>
                    {% elsif category_name == "misc." %}
                    <li><a class="page-link" href="/{{ category_name | slugize }}">{{ category_name | capitalize}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="fade"></div>
        </nav>